.about-section {
  background-color:white;
    /* background-color:rgb(244, 250, 250); */
    align-items: center;
    margin-top: 7%;

  
  }

.about-section h3 {
    font-size: 40px;
    color: rgb(20, 20, 117);
    text-align: center;
    padding-top: 4%;
    font-family: system-ui,
     -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 5%;
  }
.generalabout {
  background-color: rgba(192, 246, 246, 0.15);
}
.aboutme{
    width: 70%;
    padding-left: 12%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 6%;
}
.aboutme p{
    color: black;
    padding-top: 2%;
    font-size: large;
}
.aboutimage img{
    border-radius: 20px;
  padding-right: 12%;
    width: 330px;
    height: 340px;
}
.missionabout{
  background-color: white;
  padding-bottom: 5%;
}
.missionabout h3{
    color: black;
}
.missioncontent {
    width: 80%;
    padding-left: 10%;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;

}
.missionimage img{
    border-radius: 20px;
      width: 530px;
      height: 440px;
}
.singlemission h5{
    font-size: 22px;
    color: black;
    padding-bottom: 4%;
    padding-top: 6%;
}
.singlemission i{
    color: orange;
    font-size: 20px;
    padding: 10px;
}
.missionlist {
    margin-top: -3%;
}
.singlemission p{
    color: black;
    font-size: 17px;

}

.productcategories-section {
    background-color: #000319;
    height: 60vh;
    align-items: center;
  }

.skillscontainer {
  width: 90%;
  height: 320px;
  position: relative;
  display: grid;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.productcategories-section h3 {
    font-size: xx-large;
    color: white;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 4%;

  }

.product-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    gap: 23px;
    width: calc(150px * 24) ;
    animation: scroll 30s linear infinite;
  }
.product-categories:hover {
  animation-play-state: paused;
}

.skillcard {
  perspective: 100px;
  width: 150px;
  height: 150px;
}
.product-category {
    width: 100%;
    height: 100%;
    background-color: #EDFEEE;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    border: 2px solid rgb(48, 161, 231);
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }

  .product-category:hover{
    transform: translateZ(5px);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-150px * 12));
    }
  }
.product-category img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
  }

.product-category p {
    font-size: 16px;
    font-weight: 500;
    padding-top: 5%;
}

.product-category button {
    background-color: white;
    color: green;
    border: none;
    border: 1px solid #cccc;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }