
.contact {
  
    padding-left: 14%;
    padding-right: 30%;
  }

.contact h3 {
    color: rgb(48, 161, 231);
    text-align: center;
    padding-top: 15%;
    padding-bottom: 26%;
    font-size: xx-large;
  }

form {
    width: 250px;
    padding: 4% 15% 3% 15%;
    border: 1px solid #2c2c2ccc;
    border-radius: 20px;
  } 
form label {
    color: #838282cc;
}
form h4 {
    color: rgb(48, 161, 231);
    padding-bottom: 7%;
    padding-left: 23%;
  }

form input {
    width: 230px;
    height: 30px;
    border-radius: 10px;
    background-color: #222;
    border: 1px solid #444343cc;
    padding-left: 10px;
  }

form textarea {
    width: 230px;
    height: 100px;
    background-color: #222;
    border: 1px solid #444343cc;    
    border-radius: 10px;
    padding-left: 10px;
  }

form button {
    background-color: rgb(48, 161, 231);
    color: white;
    margin-left: 24%;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .contactwords {
    font-family: roboto;
    color: white;
    width: 40%;
    border-radius: 4px;
    
}

.me {
    display: flex;
    gap: 100px;
}